
<div id= "mini-profile">
  <div class = "profile_pic"> </div>
  <div class = "profile_meta">
    <h1> <%= @user.name %> </h1>
    <% if @user.role == 1 %> 
      <h2><%= t('label.planner')%> </h2>
    <% elsif @user.role == 2 %>
	  <strong> <%= t('label.venue_owner')%> </strong>
    <% end %> 
    <h2> location: City & State (FPO) </h2>
    <%= link_to "website FPO", "http://google.com"%>
  </div>
</div>

<% if @user.role == 2 %>	
  <%= render :partial => "venues" %>
<% elsif @user.role == 1 %>
  <%= render :partial => "planners" %>
<% end %>

  
 






