
<profile_left>
  <div class = "title_bar"> 
    <h1> <%= @venue.company_name %> </h1>
 	<p class = "location"> <%= @venue.address %> <br /> <%= @venue.city %>, <%= @venue.state %> </p>
 	<p> User ID: <%= @venue.user_id %> </p>
  </div>
</profile_left>
