<%= form_for(@rfp) do |f| %>
  <% if @rfp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @rfp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id= "signup-form">
	<h2> RFP Details  </h2>

    <p><%= f.label :title %><br />
    <%= f.text_field :title %></p>

    <p><%= f.label :response_by %><br />
    <%= f.text_field :response_by %></p>

    <p><%= f.label :decision_by %><br />
    <%= f.text_field :decision_by %></p>
  </div>
  
  <div id= "signup-form">
	<h2> Planner Information  </h2>

    <p><%= f.label :first_name %><br />
    <%= f.text_field :first_name %></p>

    <p><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></p>
    
    <p><%= f.label :company %><br />
    <%= f.text_field :company %></p>

    <p><%= f.label :email %><br />
    <%= f.text_field :email %></p>
    
    <p><%= f.label :phone %><br />
    <%= f.text_field :phone %></p>
    
    <p> Are you a third-party planner? <br />
    	Yes <%= f.radio_button :third_party_planner, true %>  No <%= f.radio_button :third_party_planner, false %>
    </p>
  </div>

    <p><%= f.label :event_type %><br />
    <%= f.text_field :event_type %></p>
	
	<p><%= f.label :zip %><br />
    <%= f.text_field :zip %></p>
    
    <div> <%= f.submit "Save" %></div>
  </div>

<% end %>
